*{
    margin:10px;
    padding:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: plum;
    
}
.container{
    width: 100;
    height: 300px;
    background: white;
    border-radius: 100px;
    box-shadow: 0px 0px 10px black;
    padding: 150px;
    margin: auto ;
}
.form_container{
    width: 100;
    height: 300px;
    background: wheat;
    border-radius: 100px;
    box-shadow: 0px 0px 10px black;
    padding: 150px;
    margin: auto ;
}
@media screen and (max-width: 440px) {
    .container{
        width: 90%;
        height: auto;
        padding: 50px;
    }
    .form_container{
        width: 90%;
        height: auto;
        padding: 20px;
    }
    
}